# Configuración de Microsoft Entra ID (Azure AD)
ENTRA_ISSUER_URI=https://login.microsoftonline.com/7787491b-efe4-4871-852a-79e07b048a5a/v2.0
ENTRA_API_CLIENT_ID=954079da-4c93-427f-9260-62b0e83029bf

# URL base del microservicio de órdenes (instancia EC2 separada)
# Reemplazar la IP con la IP privada (o pública/DNS) de la máquina EC2 donde corre ms-pedidos360-orders
MICROSERVICE_BASE_URL=http://<IP_PRIVADA_EC2_ORDERS>:8087
